<div id="blog-container">
<h1>All my blogposts</h1>

  <% @blogposts.each do |blogpost| %>
    <h2><%= blogpost.title %></h2>
    <% blogpost.photos.each do |photo| %>
      <%= cl_image_tag photo.key, height: 300, width: 400, crop: :fill %>
    <% end %>
    <p><%= blogpost.content %></p>
  <% end %>

  <%= link_to "Home", root_path %>
  <%= link_to "Create new post", new_blogpost_path %>
</div>
