<div class="application_container">

  <h1>New Application</h1>

  <%= simple_form_for [@candidate] do |f| %>
  <div class="application_item">
    <div id="star_info"><em>Items marked with a '*' are required</em></div>
    <%= f.input :first_name %>
    <%= f.input :last_name %>
    <%= f.input :age %>
    <%= f.input :gender %>
    <%= f.input :email %>
    <%= f.input :phone %>
    <%= f.input :nationality %>
    <%= f.input :residency %>
    <%= f.input :address %>
    <%= f.input :project_type %>
    <%= f.input :project_description %>
    <%= f.input :project_budget %>
    <%= f.input :project_hours %>
    <%= f.input :portfolio, label: "Portfolio (link)" %>
    <%= f.input :website, label: "Website (link)" %>
    <%= f.input :extras, label: "Anything to add?" %>
  </div>
    <div class="bottom-buttons" style="display:flex;justify-content:space-around">
      <%= f.submit "Submit", class: "btn btn-primary", id: "edit-button" %>
      <%= link_to "Home", root_path, class:"btn btn-secondary", id: "dashboard-button"%>
    </div>
  <% end %>
</div>
