<h1>new application</h1>
<%= link_to "Home", root_path %>

<div class="container" id="newedit">
  <%= simple_form_for [@candidate] do |f| %>
    <%= f.input :first_name %>
    <%= f.input :last_name %>
    <%= f.input :age %>
    <%= f.input :gender %>
    <%= f.input :email %>
    <%= f.input :phone %>
    <%= f.input :nationality %>
    <%= f.input :residency %>
    <%= f.input :address %>
    <%= f.input :project_type %>
    <%= f.input :project_description %>
    <%= f.input :project_budget %>
    <%= f.input :project_hours %>
    <%= f.input :portfolio %>
    <%= f.input :website %>
    <%= f.input :extras %>
    <div class="bottom-buttons" style="display:flex;justify-content:space-around">
      <%= f.submit class: "btn btn-primary", id: "edit-button" %>
      <%= link_to "Home", root_path, class:"btn btn-secondary", id: "dashboard-button"%>
    </div>
    <% end %>
</div>
